{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Bootstrap basic table example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/demo.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Oxygen&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@200&display=swap"
    rel="stylesheet">
  <title>Medicen</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
<style>
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #0f7cc4;
   color: black;
   
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #639c95;
}
 </style>
</head>
<header class="cd-header">
  <div class="cd-header__logo"><a href="#0"><img src="{% static 'assets/care.png' %}" alt="Logo" class="LogoPic"></a></div>
  <nav class="cd-header__nav js-cd-header__nav">
    <ul>
      <li><a href="{% url 'doctor_index' %}">Home</a></li>
          <li><a href="{% url 'doctors' %}">Doctors</a></li>
          <li><a href="{% url 'services' %}">Departments</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'doctor_admin' %}">Admin</a></li>
          <li><a>Hi, {{ request.user.username }}</a></li>
          <li><a href="{% url 'logoutuser' %}">Logout</a></li>
         
          {% endif %}
    </ul>
  </nav>
</header>
     
<div class="container ">
    <div style="margin-top:20%; text-align: center;" >
        <h1 style="font-weight:bold; font-size:30px">Appointment Notifications</h1>
    </div>
    {% if appointments %}
<table class="table table-striped" style="margin-top:5%">
  <tr>
      <th>serial no</th>
      <th>Patient Name</th>
      <th>Appointment Date</th>
      <th>Accept/Decline</th>
  </tr>
  {% for i in appointments %}
  <tr>
      <td>{{i.id}}</td>
      <td>{{ i.patient.patient.username }}</td>
      <td>{{ i.date }}</td>
      <td><form method="POST" action="{% url 'completetodo' i.id %}">
        {% csrf_token %}
        <input type="text" value="{{i.id}}" name="value" disabled style="display:none">
        <button id="delete" class="btn btn-success" type="submit">Accept</button>
    </form>
    <form method="POST" action="{% url 'deletetodo' i.id %}">
        {% csrf_token %}
        <input type="text" value="{{i.id}}" name="value" disabled style="display:none">
        <button id="delete" class="btn btn-danger" type="submit">Delete</button>
    </form></td>
  </tr>
  {% endfor %}
  
       
</table>
{% else %}
    <div class="text-center"><br><br><br><br>
        <h2>Looks like you have no appointment request !</h2>
    </div>
    {% endif %}
</div><br /><br />

</body>
</html>

