{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap basic table example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Oxygen&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Medicen</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/contact.css" />
    <style>
      .table-striped > tbody > tr:nth-child(odd) > td,
      .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #73b8e6;
        color: black;
      }

      .table-hover tbody tr:hover td,
      .table-hover tbody tr:hover th {
        background-color: #75d9cd;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
      a:hover {
        font-weight: lighter;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header class="cd-header">
      <div class="cd-header__logo">
        <a href="#0"
          ><img src="{% static 'assets/care.png' %}" alt="Logo" class="LogoPic"
        /></a>
      </div>
      <nav class="cd-header__nav js-cd-header__nav">
        <ul>
          <li><a href="{% url 'doctor_index' %}">Home</a></li>
          <li><a href="{% url 'doctors' %}">Doctors</a></li>
          <li><a href="{% url 'services' %}">Departments</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'doctor_admin' %}">Admin</a></li>
          <li><a>Hi, {{ request.user.username }}</a></li>
          <li><a href="{% url 'logoutuser' %}">Logout</a></li>

          {% endif %}
        </ul>
      </nav>
    </header>

    <div class="container">
      <div style="margin-top: 20%; text-align: center">
        <h1 style="font-weight: bold; font-size: 30px">
          Records Of Appointments
        </h1>
      </div>
      {% if appointments %}
      <table class="table table-striped table-hover" style="margin-top: 5%">
        <tr>
          <th>serial no</th>
          <th>Patient Name</th>
          <th>Appointment Date</th>
          <th>Appointment Status</th>
        </tr>
        {% for i in appointments %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{ i.patient.patient.username }}</td>
          <td>{{ i.date }}</td>
          <td>
            {% if checked %}
            <a href="{% url 'view_prescribe' i.id %}"> Checked </a>
            {% else %}
            <a href="{% url 'view_prescribe' i.id %}"> Upcoming </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="text-center">
        <br /><br /><br /><br />
        <h2>Looks like you don't have any todos! Nice work.</h2>
      </div>
      {% endif %}
    </div>
    <br /><br />
  </body>
</html>
