<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in messages %}
        {{i}}
    {% endfor %}
    {{request.user.id}}
    <form method="POST" >
        {% csrf_token %}
        <input type="text" name="name" value="{{request.user.username}}" disabled>
        <input type="date" name="date" id="">
        <select name="doctor">
            {% for i in doctors %}
           <option value="{{ i.id }}">{{ i.doctor.username }}( {{ i.dept }} )</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
</body>


</html>