<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for i in app %}
        {{i.date}}
        {% if i.checked %}
            Checked
        {% else %}
            Unchecked
        {% endif %}
        {{i.doctor}}
        {{i.date}}
        <a href="{% url 'report_details' i.id %}">View More</a>
    {% endfor %}

        
       
</body>

</html>